:root {
  /* Variables */
  --font-size__h1: 26px;
  --font-size__h2: 40px;
  --font-size__h3: 20px;
  --font-size__h4: 20px;
  --font-size__p: 22px;
  --font-size__li: var(--font-size__p);

  --line-height__p: 1.5;

  --color__main: #1098ad;
  --color__main--gray: #444;
  --color__shade--gray: #f7f7f7;
}

/* Normalize */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--color__main--gray);
}

body {
  position: relative;
}

.main-container {
  border-top: 10px solid var(--color__main);
  border-bottom: 10px solid var(--color__main);
  width: 1250px;
  position: relative;
}

.main-header {
  background-color: var(--color__shade--gray);
  padding: 20px 40px;
  margin-bottom: 64px;
}

.main-header h1 {
  float: left;
}

.main-header nav {
  float: right;
  margin-top: 5px;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 5px;
}

h1 {
  font-size: var(--font-size__h1);
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-size: var(--font-size__h2);
  margin-bottom: 32px;
}

h3 {
  font-size: var(--font-size__h3);
}

h4 {
  font-size: var(--font-size__h4);
  text-transform: uppercase;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--color__main);
}

h3,
h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

p {
  font-size: var(--font-size__p);
  line-height: var(--line-height__p);
  margin-bottom: 16px;
}

ul,
ol {
  padding-left: 32px;
  margin-bottom: 16px;
}

li {
  font-size: var(--font-size__li);
}

aside {
  background-color: var(--color__shade--gray);
  border-top: 5px solid var(--color__main);
  border-bottom: 5px solid var(--color__main);
}

.post__img {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 16px;
}

#author-info img {
  float: left;
}

#author-info p {
  font-size: 16px;
  font-style: italic;
  display: inline-block;
  margin-top: 16px;
  margin-left: 16px;
}

.related-posts {
  list-style: none;
}

.related-posts li {
  margin-bottom: 8px;
  padding: 4px 0;
}

.related-post__author {
  font-size: 12px;
  font-weight: bold;
}

.related-post__link {
  font-size: 16px;
}

.related-post__img {
  width: 75px;
  height: auto;
  float: left;
  margin-right: 10px;
}


a:link {
  color: var(--color__main);
  text-decoration: none;
}

a:visited {
  color: var(--color__main);
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

article {
  position: relative;
}

article::before {
  content: "TOP";
  position: absolute;
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  right: -20px;
  top: -20px;
}

footer {
  padding: 16px 0;
}

footer p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

.like-btn {
  position: absolute;
  right: 10px;
  bottom: 95px;
  width: 95px;
  height: 50px;
  font-size: 18px;
}

article {
  float: left;
  width: 65%;
}

aside {
  float: right;
  width: 30%;
}

.clear-float::after {
  content: "";
  display: block;
  clear: both;
}
