/* Normalization */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

.product {
  border: 4px solid;
  width: 800px;
  margin: 50px auto;
}

.product_header h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: #eee;
  margin: 0;
  padding: 15px;
}

.product__info {
  margin-bottom: 25px;
}

.product__info img {
  width: 250px;
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 28px;
}

.badge__free-shipping {
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
  font-size: 12px;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 15px;
}

.more-info:link,
more-link:visited {
  color: black;
  font-size: 16px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product__details {
  margin-bottom: 10px;
}

.product__details h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product__details ul {
  list-style: square;
  padding-left: 20px;
}

.add-to-cart__btn {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: 0;
  font-size: 18px;
}

.add-to-cart__btn:hover {
  background-color: white;
  color: black;
  border-top: 4px solid black;
}
